h1{
    text-align: center;
}

#row1{
    margin-bottom:25px;
    display: flex;
    
    

}
.card{
    max-width: 350px;
    max-height: 150px;
}
#row2{
    margin-top: 190px;
    margin-bottom: 300px;
}
#cordcont{
    margin-left: 220px;
    
    

}
.card-img-top:hover{
    transform: scale(1.2);
    transition-delay: 0.2s;
    transition: ease-in-out;
}
    

#mess{
    color:rgb(232, 195, 9);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin-bottom: 50px;
    font-weight: 600;
    text-decoration: underline;
    background-color: rgb(244, 12, 51);
}
